/* =========================
 * custom style
 * ========================= */

html {
  box-sizing: border-box;
  margin: 0;
  /*height: 100%;*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  background-color: #e6e6e6;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  /*height: 100%;*/
}

a {
  display: inline-block;
  cursor: pointer;
  color: #1eaedb;
  text-decoration: none;
  margin-top: 10px;
}

a:hover,
a:active,
a:focus {
  color: #0fa0ce;
  text-decoration: underline;
}

.page {
  color: #444;
  background-color: #fff;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 20px;
  margin-bottom: 40px;
  width: 90%;*/
  /*min-height: 80%;*/
  transition: box-shadow .25s;
  /*box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #ccc;
  text-shadow: 0 0 2px #eee;
}

.header {
  /*padding: 0 5px;*/
}

h1.page-header {
  color: #333;
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

h5.title {
  color: #444;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 0;
}

p.paragraph {
  /*color: #555;*/
  text-indent: 2em;
  font-size: 16px;
  margin-bottom: 0;
}

.text-center {
  margin-top: 50px;
  text-align: center;
}

p.message {
  font-size: 26px;
  margin-bottom: 0;
}

.meta {
  margin-top: 20px;
}

.meta span {
  color: #666;
  font-size: 14px;
}

.meta strong {
  color: #555;
  text-align: center;
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0 5px;
  width: 100%;
}

.questions {
  padding-left: 30px;
}

.questions h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
}

.questions label {
  display: block;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.questions label input {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

textarea:focus,
input:focus,
button:focus {
  outline: 0;
}

textarea {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: vertical;
  overflow: auto;
}

textarea:focus {
  border-color: #999;
}

p.text-danger {
  color: #f90;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  color: #fff;
  display: block;
  padding: 15px;
  width: 100%;
  background: #1f8dd6;
  border: .1rem solid;
  border-color: #1b7cbd;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.2s;
}

button:active,
button:focus,
button:hover {
  background: #1b7cbd;
  border-color: #1b7cbd;
  text-decoration: none;
}

hr {
  background-color: #fafafa;
  height: 1px;
  border: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::before,
.row::after {
  display: table;
  content: ' ';
}

.row::after {
  clear: both;
}

.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 768px) {
  .page {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    max-width: 750px;
  }
}


/* Larger than desktop */

@media (min-width: 992px) {
  .page {
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 40px;
    max-width: 970px;
  }
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6 {
    float: left;
  }
  .col-md-3 {
    width: 20.00000000000001%
  }
  .col-md-4 {
    width: 26.66666666666668%
  }
  .col-md-5 {
    width: 33.33333333%
  }
  .col-md-6 {
    width: 40.00000000000002%
  }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  .page {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 50px;
    max-width: 1170px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
  opacity: .6;
}
