<h1 class="page-header">测评信息</h1>
<div class="row">
  <div class="col-md-8">
    <div class="scroll">
      <table>
        <thead>
          <tr>
            <th>项目</th>
            <th>数据</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>学科信息</td>
            <td><span>{{ data.school_name }}</span> / <span>{{ data.academy_name }}</span> / <span>{{ data.subject_name }}</span></td>
          </tr>
          <tr>
            <td>评分时间</td>
            <td>{{ data.datetime }}</td>
          </tr>
          <tr>
            <td>评分班主任</td>
            <td>{{ data.head_name }}</td>
          </tr>
          <tr>
            <td>评分班级</td>
            <td>{{ data.class_name }}</td>
          </tr>
          <tr>
            <td>课程阶段</td>
            <td>{{ data.course_name }}</td>
          </tr>
          <tr>
            <td>课程天数</td>
            <td>{{ data.course_days }}天</td>
          </tr>
          <tr>
            <td>讲师姓名</td>
            <td>{{ data.teacher_name }}</td>
          </tr>
          <tr>
            <td>讲师邮箱</td>
            <td>{{ data.teacher_email }}</td>
          </tr>
          <tr>
            <td>班级总人数</td>
            <td>{{ data.class_count }}人 - {{ data.leave_count }}人（请假）</td>
          </tr>
          <tr>
            <td>已完成测评人数</td>
            <td>{{ data.rated_count }}人</td>
          </tr>
          <tr ng-if="data.rate_link">
            <td>测评链接</td>
            <td><a href="{{ data.rate_link }}">{{ data.rate_link }}</a> <a href="#">点击复制</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button class="btn btn-primary btn-block" ng-if="data.status === 'initial'">开始测评</button>
      <button class="btn btn-danger btn-block" ng-if="data.status === 'rating'">结束测评</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="scroll">
      <table>
        <thead>
          <tr>
            <th>姓名</th>
            <th>邮箱</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in data.emails">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
          </tr>
          <tr ng-repeat="item in model.add_emails">
            <td>刚添加</td>
            <td>{{ item.email }}<span class="pull-right" ng-click="action.del_email()" style="font-size: 1.5rem;color: #f30;">&times;&nbsp;&nbsp;</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <form ng-submit="action.add_email()">
        <div class="input-group">
          <input class="field" type="text" ng-model="model.email_input" placeholder="请输入额外添加收件人">
          <button class="addon" type="submit">添加</button>
        </div>
      </form>
      <button class="btn btn-primary btn-block" disabled>发送邮件</button>
    </div>
  </div>
</div>
