.btn {
  transition: background-color 0.2s;
  display: inline-block;
  padding: @normal-size/2 @normal-size;
  // margin-top: 1rem;
  background: @default-color;
  color: inherit;
  border: .1rem solid;
  border-color: darken(@default-color, 5%);
  border-radius: @radius;
  cursor: pointer;
  font-size: @normal-size;
  font-weight: 300;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

// .btn:focus {
//   outline: thin dotted #666;
//   text-decoration: none;
// }
.btn:active,
.btn:focus,
.btn:hover {
  // border: 0;
  background: darken(@default-color, 10%);
  border-color: darken(@default-color, 15%);
  text-decoration: none;
}

.btn-primary {
  background-color: @primary-color;
  border-color: darken(@primary-color, 5%);
  color: #fff;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: darken(@primary-color, 10%);
  border-color: darken(@primary-color, 15%);
}

.btn-wide {
  padding-right: @normal-size * 1.5;
  padding-left: @normal-size * 1.5;
}

.btn-block {
  width: 100%;
  display: block;
}

.btn-lg {
  padding: @large-size/2 @large-size;
  font-size: @large-size;
}

.btn-sm {
  padding: @small-size/2 @small-size;
  font-size: @small-size;
}
