// size
// ===========================
@radius: .2rem;
@large-size: 1.8rem;
@normal-size: 1.4rem;
@small-size: 1rem;
// color
// ===========================
@default-color: hsla(31, 15%, 50%, 0.1);
@primary-color: hsl(150, 45%, 50%);
//
