[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.fade-ng-cloak {
  opacity: 1;
  // -ms-filter: none;
  // -webkit-filter: none;
  // filter: none;
  // transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.fade-ng-cloak[ng-cloak] {
  display: block !important;
  opacity: 0;
  // -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  // filter: alpha(opacity=0);
}

.fade-ng-cloak.ng-cloak,
.fade-ng-cloak.ng-binding {
  opacity: 0;
  // transition: opacity 800ms ease-in-out;
}

.fade-ng-cloak.ng-binding {
  opacity: 1;
}

::-webkit-scrollbar {
  width: .3rem;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: .3rem;
  background-color: #aaa;
}

html {
  background-image: url(../img/hourglass.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  font-size: 1.2rem;
  overflow: hidden;
  background-color: #fff;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
}

label {
  overflow: hidden;
  text-overflow: ellipsis;
}

// SKELETON extras
input,
textarea,
select,
fieldset {
  width: 100%;
  margin-bottom: 1.3rem;
}

table {
  width: 100%;
  margin-bottom: 0;
  td {
    // border-right:.1rem solid #e1e1e1;
    padding-top: 1.2rem;
    padding-bottom: 1.1rem;
    vertical-align: middle;
    &:first-child {
      border-right: .1rem solid #e1e1e1;
      padding-left: 1rem;
    }
  }
  th {
    &:first-child {
      border-right: .1rem solid #e1e1e1;
      padding-left: 1rem;
    }
  }
}

.page-header {
  border-bottom: .1rem solid #e0e0e0;
  padding: 0 0 .5rem .5rem;
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
}

.button-primary,
.button-secondary {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

button.button-secondary {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  &:hover{
    color: #fff;
  }
}

.input-group {
  display: flex;
  margin: .5rem .5rem 0;
  input {
    height: 3.2rem;
    line-height: 1;
    flex: 1;
    border-radius: .3rem 0 0 .3rem;
    margin-bottom: 0;
  }
  button {
    width: 6rem;
    height: 3.2rem;
    line-height: 1;
    padding: 0 1rem;
    margin-left: -0.1rem;
    margin-bottom: 0;
    border-radius: 0 .3rem .3rem 0;
  }
  form {
    display: flex;
    flex: 1;
    margin-bottom: 0;
  }
}

.first {
  margin-left: 0;
}

.icon-button {
  -webkit-app-region: no-drag;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: .1rem solid transparent;
  border-radius: .4rem;
  cursor: pointer;
  height: 3.6rem;
  margin: 0 1rem;
  opacity: 0.65;
  width: 3.6rem;
  padding: 0;
  &:hover,
  &:active,
  &.selected {
    border: .1rem solid rgba(0, 0, 0, 0.16);
    color: #333;
    opacity: 0.8;
  }
  &:focus {
    outline: 0
  }
  &.toggle {
    background-image: url('../img/menu.svg');
  }
  &.minimize {
    background-image: url('../img/minimize.svg');
  }
  &.maximize {
    background-image: url('../img/maximize.svg');
  }
  &.close {
    background-image: url('../img/close.svg');
  }
}

.hide-controls {
  .minimize,
  .maximize,
  .close {
    visibility: hidden;
  }
}

.window {
  cursor: default;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
}

.sidebar {
  display: flex;
  box-shadow: inset -.6rem 0 .7rem rgba(0, 0, 0, 0.5);
  color: #EBEBEB;
  cursor: default;
  overflow: hidden;
  position: relative;
  width: 0;
  transition: width 0.2s ease-in-out;
  // &.open {
  //   width: 222px;
  // }
  .resizer {
    cursor: e-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: .3rem;
    z-index: 2;
  }
  h1 {
    background-repeat: no-repeat;
    cursor: default;
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: .4rem;
    margin-top: 1.2rem;
    padding: 0 2rem;
    min-width: 20rem;
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }
  h3 {
    margin: 0;
    padding: 0 0 0 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: #888;
  }
  hr {
    height: .1rem;
    width: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, 0.16);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  ul {
    padding: 0;
    font-size: 120%;
    list-style-type: none;
    margin: 1rem 0;
    li {
      cursor: pointer;
      box-sizing: border-box;
      margin: 0;
      padding: 1rem 0 1rem 2rem;
      white-space: nowrap;
      -webkit-user-select: none;
      a {
        color: #EBEBEB;
        display: block;
      }
    }
  }
  .warpper {
    display: flex;
    flex: 1;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    .tabs-list {
      overflow-x: hidden;
      overflow-y: scroll;
      width: 100%;
      li {
        display: flex;
        cursor: pointer;
        &.active {
          border-left: 1rem solid #d1d1d1 !important;
          padding-left: 1rem;
        }
        &.unsaved {
          .filename {
            color: #ff5050;
            &:after {
              content: " *";
            }
          }
        }
        .filename {
          display: inline;
          -webkit-flex: 1 1 auto;
          min-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover .close {
          background-image: url('../img/close-tab.svg');
          opacity: 0.3;
        }
        .close {
          background-position: center center;
          background-repeat: no-repeat;
          margin: .2rem 1rem 0 0;
          height: 2rem;
          width: 2rem;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .settings {
    display: flex;
    flex: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    box-shadow: inset -.6rem 0 .7rem rgba(0, 0, 0, 0.5);
    min-height: 100%;
    overflow: hidden;
    transition: opacity .2s ease;
    opacity: 0;
    z-index: -1;
    width: 100%;
    .settings-list {
      width: 100%;
      input,
      select {
        height: auto;
      }
      li {
        display: flex;
        background-color: inherit;
        padding-right: 2rem;
        width: 100%;
        word-break: break-all;
        word-wrap: break-word;
        &:hover {
          background-color: inherit;
        }
      }
      label {
        flex: 1;
        cursor: pointer;
        display: inline;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 0;
      }
      input[type="text"] {
        background-color: rgba(0, 0, 0, 0);
        border: .1rem solid #888;
        border-radius: .1rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 0;
        padding: 0 .8rem;
        text-align: center;
        background: #555;
        cursor: text;
        -webkit-appearance: none;
        -webkit-app-region: no-drag;
        -webkit-user-select: auto;
      }
      input[type="text"]:focus {
        border: .1rem solid #EBEBEB;
        outline: none;
      }
      input[type="checkbox"] {
        -webkit-appearance: none;
        background-color: #555;
        border: .1rem solid #888;
        border-radius: .1rem;
        box-sizing: border-box;
        cursor: pointer;
        height: 1.8rem;
        margin: -.3rem 0;
        position: relative;
        top: .4rem;
        width: 1.8rem;
      }
      input[type="checkbox"]:focus {
        border-color: #EBEBEB;
        outline: none;
      }
      input[type="checkbox"]:checked::after {
        content: url('../img/check_no_box_white.png');
        display: block;
        position: relative;
        top: -.2rem;
        left: -.4rem;
      }
      select {
        background-color: rgba(0, 0, 0, 0);
        border: .1rem solid #888;
        border-radius: .1rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin: 0;
        padding: 0 .8rem;
        width: 9.6rem;
        background: url('../img/menu.svg')no-repeat 7.5rem center #555;
        background-size: 1.8rem 1.8rem;
        background-position-x: 7rem;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-app-region: no-drag;
        -webkit-user-select: auto;
        &:focus {
          border: .1rem solid #EBEBEB;
          outline: none;
        }
      }
      optgroup {
        color: #000000;
      }
    }
  }
  &.open-settings .settings {
    // position: absolute;
    // // left: 0;
    // // transition: left 0.2s ease-in-out;
    // width: 100%;
    opacity: 1;
    z-index: 1;
  }
  ::-webkit-scrollbar {
    width: 0;
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background-color: #888;
  }
}

.main-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

.titlebar {
  display: flex;
  border-bottom: .1rem solid #c0c0c0;
  align-items: center;
  height: 4.2rem;
  min-height: 4.2rem;
  line-height: normal;
  padding-left: 1rem;
  position: relative;
  text-align: center;
  -webkit-app-region: drag;
  // -webkit-user-select: none;
  &.dark {
    background-color: #333;
  }
  &.dark .title {
    color: #f5f5f5;
  }
  &.dark .icon-button {
    -webkit-filter: invert(100%);
  }
  .title {
    display: block;
    flex: 1;
    color: #777;
    font-size: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out;
    white-space: nowrap;
    &.unsaved:after {
      content: " *";
    }
  }
}

.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  > .wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    .row-box {
      display: flex;
      flex: 1;
      flex-direction: row;
      .row {
        display: flex;
        flex: 1;
        .columns {
          border: .1rem solid #e1e1e1;
          border-radius: .5rem;
          display: flex;
          flex: 1;
          flex-direction: column;
          > .scroll {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            padding: .2rem .5rem .5rem;
          }
          &:last-child {
            flex: .4;
            margin-left: 1.6%;
          }
        }
      }
    }
    .column-box {
      display: flex;
      flex: 1;
      flex-direction: column;
      .row {
        flex: 1;
      }
    }
  }
  // ng animate
  &.ng-enter,
  &.ng-leave {
    transition: opacity .2s ease;
  }
  &.ng-enter {
    opacity: 0;
    position: absolute;
    // float: left;
    // bottom: 0;
    // left: 0;
    width: 100%;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

.dialog {
  align-items: center;
  justify-content: center;
  background-color: rgba(50, 50, 50, .6);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  -webkit-user-select: none;
  &.open {
    display: flex;
  }
  .dialog-window {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: .1rem solid rgba(0, 0, 0, 0.15);
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.13) 0 .4rem 3rem;
    max-width: 50%;
    opacity: 1.0;
    padding: 2.4rem;
  }
  .dialog-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    cursor: default;
    h4 {
      font-size: 2.6rem;
      font-weight: 500;
    }
    h5 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      strong {
        font-weight: 400;
      }
    }
    p {
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
  }
  .dialog-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .dialog-button {
    background-color: inherit;
    border: .1rem solid rgba(0, 0, 0, 0.16);
    border-radius: .3rem;
    color: #333;
    margin: 0 .5rem;
    opacity: 0.8;
    padding: 0 1.4rem;
  }
  .dialog-button:hover {
    border: .1rem solid rgba(0, 0, 0, 0.32);
    color: #000;
  }
}
