<div class="page-header"><h1>创建新的评测</h1></div>
<div class="row scroll">
  <div class="col-md-6">
    <div class="form-group">
      <label for="school_name">所属校区</label>
      <select id="school_name" ng-model="model.school_name">
        <option value="{{key}}" ng-repeat="(key, value) in :: data.schools track by $index">{{key}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="academy_name">所属部门</label>
      <select id="academy_name" ng-model="model.academy_name">
        <option value="{{key}}" ng-repeat="(key, value) in :: data.academies track by $index">{{key}}</option>
        <!-- <option disabled role="separator"></option> -->
      </select>
    </div>
    <div class="form-group">
      <label for="subject_name">测评对象</label>
      <select id="subject_name" ng-model="model.subject_name">
        <option value="{{item.name}}" ng-repeat="item in data.subjects track by $index">{{item.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="class_count">测评总人数</label>
      <input type="number" id="class_count" ng-model="model.class_count" placeholder="请输入班级总人数">
    </div>
    <div class="row">
      <div class="col-sm-4 form-group" ng-repeat="(key, value) in model.reasons track by $index">
        <label for="reason{{$index}}_count">{{key}}人数</label>
        <input type="number" id="reason{{$index}}_count" ng-model="model.reasons[key]" placeholder="请输入{{key}}人数" tabindex="-1">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="head_name">测评人姓名</label>
      <input type="text" id="head_name" ng-model="model.head_name" placeholder="请输入班主任姓名">
    </div>
    <div class="form-group">
      <label for="class_name">班级名称</label>
      <input type="text" id="class_name" ng-model="model.class_name" placeholder="请输入班级名称">
    </div>
    <!-- <div class="form-group">
      <label for="course_name">课程阶段</label>
      <input type="text" id="course_name" ng-model="model.course_name" placeholder="请输入课程阶段">
    </div>
    <div class="form-group">
      <label for="course_days">课程天数</label>
      <input type="number" id="course_days" ng-model="model.course_days" placeholder="请输入课程天数">
    </div> -->
    <div class="form-group">
      <label for="teacher_name">被测评人姓名</label>
      <input type="text" id="teacher_name" ng-model="model.teacher_name" placeholder="请输入讲师名称">
    </div>
    <!-- <div class="form-group">
      <label for="teacher_email">讲师邮箱</label>
      <input type="text" id="teacher_email" ng-model="model.teacher_email" placeholder="请输入讲师邮箱">
    </div> -->
    <div class="form-group">
      <label for="datetime">测评日期</label>
      <input type="text" id="datetime" ng-model="model.datetime" readonly="readonly" tabindex="-1">
    </div>
  </div>
</div>
<div class="action">
  <button class="btn btn-primary btn-block btn-lg" ng-click="action.start()">创建新的评测</button>
</div>
