body[theme="dark"] header {
  background-color: #DDD;
}
body[theme="dark"] .search-container {
  border-color: #C1C1C1;
}
body[theme="dark"] .search-navigation-button {
  background-color: #DDD;
  border-color: #C1C1C1;
}
body[theme="dark"] .search-navigation-button:focus {
  background-color: #EEE;
}
body[theme="dark"] .sidebar {
  background-color: #272822;
  -webkit-box-shadow: inset -10px 0 7px -4px rgba(0, 0, 0, 0.5);
}
body[theme="dark"] .settings {
  background-color: #272822;
}
body[theme="dark"] .sidebar li:hover {
  background-color: #3A3A3A;
  border-left: 10px solid #868686;
  -webkit-box-shadow: inset -10px 0 7px -4px rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding-left: 10px;
}
body[theme="dark"] .settings-list input[type="text"] {
  color: #EBEBEB;
}
body[theme="dark"] .settings-list select {
  color: #EBEBEB;
}
body[theme="dark"] .settings-list select option {
  background-color: #272822;
}
