<!DOCTYPE html>
<html lang="zh-CN" class="{{theme}}" ng-app="itcast-tms" ng-controller="MainController">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>Teaching Management « Itcast</title>
  <!-- build:css css/vender.css -->
  <!-- endbuild -->
  <!-- build:css css/style.css -->
  <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->
</head>

<body id="window" class="fade ng-cloak">
  <aside class="sidebar" ng-class="{ 'open-setting': settingsOpened }" ng-style="{ width: sidebarOpened ? '22rem' : '0' }">
    <i class="resizer"></i>
    <div class="panel menu">
      <h1>Itcast TMS</h1>
      <hr>
      <h3>操作</h3>
      <ul>
        <li ng-click="go('/home')">仪表盘</li>
        <li ng-click="go('/starter')">开始新的测评</li>
      </ul>
      <hr>
      <h3>测评记录</h3>
      <div class="scroll">
        <ul ng-controller="RecordController">
          <li title="{{value}}" draggable="true" ng-repeat="(key, value) in records" ng-class="{ active: current_filename === key }" ng-click="open(key)" auto-active>
            <span class="name">{{key}}</span>
            <span class="close" ng-click="remove(key, $event)"></span>
          </li>
        </ul>
      </div>
      <hr>
      <h3>帮助</h3>
      <ul>
        <li ng-click="settingsOpened=true">设置</li>
        <li ng-click="aboutOpened=true">关于</li>
      </ul>
    </div>
    <div class="panel setting">
      <h1>设置</h1>
      <hr>
      <div class="scroll">
        <ul>
          <li>
            <label>主题</label>
            <select class="pull-right" ng-model="theme">
              <option value="default">默认</option>
              <option value="dark">暗色</option>
              <option value="light">亮色</option>
            </select>
          </li>
          <li>
            <label>主题</label>
            <input type="text" ng-model="theme">
          </li>
        </ul>
      </div>
      <hr>
      <ul>
        <li ng-click="settingsOpened=false">返回</li>
      </ul>
    </div>
  </aside>
  <section class="main">
    <header class="titlebar">
      <button class="icon-button toggle" title="切换菜单显示" ng-click="toggleSidebar()"></button>
      <span class="title">{{'hello world'}}</span>
      <button class="icon-button minimize" title="最小化" ng-click="window('minimize')"></button>
      <button class="icon-button maximize" title="最大化" ng-click="window('maximize')"></button>
      <button class="icon-button close" title="关闭" ng-click="window('close')"></button>
    </header>
    <main class="editor" ng-view></main>
  </section>
  <about open="aboutOpened"></about>
  <!-- build:js js/vendor.js -->
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-route/angular-route.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <!-- <script src="../node_modules/lodash/lodash.js"></script> -->
  <!-- endbuild -->
  <!-- build:js js/script.js -->
  <script src="js/common/extras.js"></script>
  <script src="js/directives/index.js"></script>
  <script src="js/directives/auto-active.js"></script>
  <script src="js/directives/about.js"></script>
  <script src="js/directives/resizer.js"></script>
  <script src="js/services/index.js"></script>
  <script src="js/services/storage.js"></script>
  <script src="js/services/dialog.js"></script>
  <script src="js/controllers/index.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/record.js"></script>
  <script src="js/areas/index.js"></script>
  <script src="js/areas/dashboard.js"></script>
  <script src="js/areas/starter.js"></script>
  <script src="js/areas/watcher.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->
  <!-- templates -->
  <script id="dashboard_tmpl" type="text/ng-template">
    <h1 class="page-header">传智播客教学测评系统</h1>
  </script>
  <script id="dialog_tmpl" type="text/ng-template">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Yes or No?</h4>
              </div>
              <div class="modal-body">
                <p>It's your call...</p>
              </div>
              <div class="modal-footer">
                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>
     </script>
  <!-- /templates -->
</body>

</html>
