<!DOCTYPE html>
<html lang="zh-CN" ng-app="itcast-tms">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Teaching Management « Itcast</title>
  <!-- build:css css/vender.css -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- endbuild -->
  <!-- build:css css/style.css -->
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/theme-default.css">
  <link rel="stylesheet" href="css/theme-dark.css">
  <link rel="stylesheet" href="css/theme-light.css">
  <!-- endbuild -->
  <!-- build:js js/vender.js -->
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-route/angular-route.js"></script>
  <script src="../node_modules/lodash/lodash.js"></script>
  <!-- endbuild -->
</head>

<body ng-controller="MainController" theme="{{theme}}" ng-cloak>
  <div class="window">
    <div class="sidebar" ng-class="{'open-settings': settingsOpened}" ng-style="{width: sidebarOpened ? '222px' : '0'}">
      <div class="resizer"></div>
      <div class="tabs">
        <h1>Itcast TMS</h1>
        <hr>
        <h3>操作</h3>
        <ul>
          <li><a href="#/home">仪表盘</a></li>
          <li><a href="#/starter">开始新的测评</a></li>
          <!-- <li>开始新的测评</li> -->
        </ul>
        <hr>
        <h3>测评记录</h3>
        <div class="warpper">
          <ul class="tabs-list" ng-controller="RecordController">
            <li ng-repeat="record in records" draggable="true" auto-active>
              <span class="filename" title="{{record}}">{{record}}</span>
              <span class="close"></span>
            </li>
          </ul>
        </div>
        <hr>
        <h3>帮助</h3>
        <ul>
          <li ng-click="settingsOpened=true">设置</li>
          <li ng-click="settingsOpened=true">关于</li>
        </ul>
      </div>
      <div class="settings">
        <h1>设置</h1>
        <hr>
        <div class="warpper">
          <ul class="settings-list">
            <li>
              <label for="setting-theme">主题</label>
              <select ng-model="theme">
                <option value="default">默认</option>
                <option value="light">亮色</option>
                <option value="dark">暗色</option>
              </select>
            </li>
          </ul>
        </div>
        <hr>
        <ul>
          <li ng-click="settingsOpened=false">返回</li>
        </ul>
      </div>
    </div>
    <!-- /.sidebar -->
    <div class="main-view">
      <header class="titlebar">
        <button class="icon-button toggle" title="切换菜单显示" ng-click="toggleSidebar()"></button>
        <span class="title">{{title}}</span>
        <button class="icon-button minimize" title="最小化" ng-click="window('minimize')"></button>
        <button class="icon-button maximize" title="最大化" ng-click="window('maximize')"></button>
        <button class="icon-button close" title="关闭" ng-click="window('close')"></button>
      </header>
      <div class="editor" ng-view></div>
    </div>
    <!-- /.main-view -->
  </div>
  <!-- /.window -->
  <dialog></dialog>
  <!-- templates -->
  <script id="dashboard_tmpl" type="text/ng-template">
    <h1 class="page-header">Dashboard</h1>
  </script>
  <script id="starter_tmpl" type="text/ng-template">
    <h1 class="page-header">开始新的测评</h1>
    <div class="wrapper">
      <div class="inner">
        <div class="row">
          <div class="six columns">
            <div class="form-group">
              <label for="school_name">所属校区</label>
              <select id="school_name" ng-model="school_name">
                <option value="{{key}}" ng-repeat="(key, value) in schools">{{key}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="academy_name">所属学院</label>
              <select id="academy_name" ng-model="academy_name">
                <option value="{{key}}" ng-repeat="(key, value) in academies">{{key}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="subject_name">所属学科</label>
              <select id="subject_name" ng-model="subject_name">
                <option value="{{item.name}}" ng-repeat="item in subjects">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="class_count">班级总人数</label>
              <input type="number" id="class_count" ng-model="class_count" placeholder="请输入班级总人数">
            </div>
            <div class="row">
              <div class="four columns" ng-repeat="(key, value) in reasons" ng-class="{first: !($index % 3)}">
                <label for="reason{{$index}}_count">{{key}}人数</label>
                <input type="number" id="reason{{$index}}_count" ng-model="reasons[key]" placeholder="请输入{{key}}人数" tabindex="-1">
              </div>
            </div>
          </div>
          <div class="six columns">
            <div class="form-group">
              <label for="class_name">班级名称</label>
              <input type="text" id="class_name" ng-model="class_name" placeholder="请输入班级名称">
            </div>
            <div class="form-group">
              <label for="course_name">课程阶段</label>
              <input type="text" id="course_name" ng-model="course_name" placeholder="请输入课程阶段">
            </div>
            <div class="form-group">
              <label for="course_days">课程天数</label>
              <input type="number" id="course_days" ng-model="course_days" placeholder="请输入课程天数">
            </div>
            <div class="form-group">
              <label for="head_name">班主任姓名</label>
              <input type="text" id="head_name" ng-model="head_name" placeholder="请输入班主任姓名">
            </div>
            <div class="form-group">
              <label for="teacher_name">讲师姓名</label>
              <input type="text" id="teacher_name" ng-model="teacher_name" placeholder="请输入讲师名称">
            </div>
            <div class="form-group">
              <label for="teacher_email">讲师邮箱</label>
              <input type="text" id="teacher_email" ng-model="teacher_email" placeholder="请输入讲师邮箱">
            </div>
            <div class="form-group">
              <label for="datetime">测评日期</label>
              <input type="text" id="datetime" ng-model="datetime" readonly="readonly" tabindex="-1">
            </div>
          </div>
        </div>
        <button class="button-primary" ng-click="start()">开始新的测评</button>
      </div>
    </div>
  </script>
  <!-- /templates -->
  <!-- build:js js/script.js -->
  <script src="js/app.js"></script>
  <script src="js/directives/auto-active.js"></script>
  <script src="js/directives/dialog.js"></script>
  <script src="js/directives/resizer.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/record.js"></script>
  <script src="js/areas/dashboard/module.js"></script>
  <script src="js/areas/starter/module.js"></script>
  <!-- endbuild -->
</body>

</html>
