<!DOCTYPE html>
<html lang="zh-CN" class="{{root.theme}}" ng-app="itcast-tms" ng-controller="MainController as root">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>Teaching Management « Itcast1</title>
  <!-- build:css css/vender.css -->
  <!-- endbuild -->
  <!-- build:css css/style.css -->
  <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->
</head>

<body class="ng-cloak">
  <div id="window">
    <aside class="sidebar" ng-class="{ 'open-setting': root.settingsOpened }" ng-style="{ width: root.sidebarOpened ? root.sidebarWidth : 0 }">
      <i class="resizer"></i>
      <div class="panel menu">
        <h1>{{ root.options.app_name }}</h1>
        <hr>
        <h3>操作</h3>
        <ul>
          <!-- <li ng-click="root.go('/home')">仪表盘</li> -->
          <li ng-click="root.go('/starter')">开始新的测评</li>
        </ul>
        <hr>
        <h3>测评记录</h3>
        <div class="scroll">
          <ul ng-controller="RecordController as record">
            <li title="{{ value }}" draggable="true" ng-repeat="(key, value) in record.records" ng-class="{ active: current_stamp === key }" ng-click="root.go('/watcher/' + key)">
              <span class="name">{{ key + root.options.storage_ext }}</span>
              <span class="close" ng-click="record.remove(key, $event)"></span>
            </li>
          </ul>
        </div>
        <hr>
        <h3>帮助</h3>
        <ul>
          <li ng-click="root.settingsOpened=true">设置</li>
          <li ng-click="root.aboutOpened=true">关于</li>
        </ul>
      </div>
      <div class="panel setting">
        <h1>设置</h1>
        <hr>
        <div class="scroll">
          <ul>
            <li>
              <label>主题</label>
              <select class="pull-right" ng-model="root.theme" ng-change="root.changeTheme()">
                <option value="default">默认</option>
                <option value="dark">暗色</option>
                <option value="light">亮色</option>
              </select>
            </li>
            <!-- <li>
              <label>主题</label>
              <input type="text" ng-model="theme">
            </li> -->
          </ul>
        </div>
        <hr>
        <ul>
          <li ng-click="root.settingsOpened=false">返回</li>
        </ul>
      </div>
    </aside>
    <section class="main">
      <header class="titlebar">
        <button class="icon-button toggle" title="切换菜单显示" ng-click="root.toggleSidebar()"></button>
        <span class="title">{{ current_stamp ? current_stamp + root.options.storage_ext : root.title }}</span>
        <button class="icon-button minimize" title="最小化" ng-click="root.window('minimize')"></button>
        <button class="icon-button maximize" title="最大化" ng-click="root.window('maximize')"></button>
        <button class="icon-button close" title="关闭" ng-click="root.window('close')"></button>
      </header>
      <main class="editor fade" ng-view></main>
    </section>
  </div>
  <about open="root.aboutOpened"></about>
  <!-- build:js js/vendor.js -->
  <script src="../../node_modules/angular/angular.js"></script>
  <script src="../../node_modules/angular-route/angular-route.js"></script>
  <script src="../../node_modules/angular-animate/angular-animate.js"></script>
  <!-- <script src="../../node_modules/marked/lib/marked.js"></script> -->
  <!-- <script src="../../node_modules/underscore/underscore-min.js"></script> -->
  <!-- endbuild -->
  <!-- build:js js/bundle.js -->
  <script src="js/common.js"></script>
  <script src="js/directives/index.js"></script>
  <script src="js/directives/about.js"></script>
  <script src="js/directives/resizer.js"></script>
  <script src="js/services/index.js"></script>
  <script src="js/services/dialog.js"></script>
  <script src="js/services/setting.js"></script>
  <script src="js/controllers/index.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/record.js"></script>
  <script src="js/areas/index.js"></script>
  <script src="js/areas/dashboard.js"></script>
  <script src="js/areas/starter.js"></script>
  <script src="js/areas/watcher.js"></script>
  <script src="js/app.js"></script>
  <!-- endbuild -->
  <!-- templates -->
  <script id="dashboard_tmpl" type="text/ng-template">
    <div class="page-header">
      <h1>传智播客教学测评系统</h1></div>
  </script>
  <!-- /templates -->
  <script>
    process.env.NODE_ENV === 'development' && document.write('<script src="http://localhost:35729/livereload.js?snipver=1"><\/script>');
  </script>
</body>

</html>
